@charset "utf-8";

:root {
	--black: #000;
	--ash: #999;
	--silver: #F4F4F4;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	vertical-align: baseline;
}

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	color: var(--black);
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
}

a {
	color: var(--black);
	text-decoration: none;
}

strong {
	font-weight: 600;
}

h2 {
	font-weight: 400;
}

.fade, .fade a {
	color: var(--ash);
}

.line-through {
  text-decoration: line-through;
}

h3 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-bottom: 1em;
}

h4 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

img, video {
	width: 100%;
}

.block, .thumb {
	display: block;
}

.col-desc p {
	color: var(--ash);
	padding-top: 1em;
	font-weight: 300;
}

.clear {
	clear: both;
}

.scrollable {
		overflow-x: scroll;
	}
	
/* Hide scrollbar */
.scrollable::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

.scrollable {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.button {
	background: var(--black);
	color: white;
	font-weight: 500;
	display: inline-block;
}

.button:hover {
	opacity: 0.75;
}

.menu {
	display: flex;
	flex-wrap: wrap;
}

.col a, h2 a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.col a:hover, h2 a:hover {
	color: var(--black);
	border-bottom: 1px solid var(--black);
}

.col-desc a {
	font-size: 1em;
	color: var(--ash);
	border-bottom: 1px solid var(--ash);
}

.col-desc a:hover {
	color: var(--black);
	border-bottom: 1px solid var(--black);
}

.menu .selected {
	color: var(--ash);
}

ul, ol {
	margin-bottom: 1em;
}

ol li {
	list-style: decimal;
	list-style-position: outside;
	margin-left: 1.5em;
}

ul li {
	list-style: disc;
	list-style-position: outside;
	margin-left: 1.5em;
}

.nobullet li {
	list-style: none;
	margin-left: 1.5em;
}

.col p {
	padding-bottom: 1em;
}

.col p:last-child {
	padding-bottom: 0;
}

.highway {
	background-image: url("../images/jackreports/jackreports-highway.png");
	background-position: top;
	background-repeat: repeat-y;
	background-attachment: fixed;	
}

.gps {
	width: 100%;
}

.sub {
	vertical-align: sub;
}